/* Essa parte se refere ao CSS do INDEX */

/* Utilizando tag específica */
 ul {
    color:red;
} 

body{
    background-color:antiquewhite;
}

/* Utilizando CLASS */
.Tamanho-Fonte {
    font-size: 100px;
}

.borda {
    border: solid 50px;
    border-color:brown;
}

.mt-30 {
    margin-top: 50px;
}

.menu li{
    display: inline;
    padding: 16px;
}

.menu li a{
    text-decoration: none;
    /* tira o hífen do texto */
    color: black;
    font-size: 20px;
}

/* altera as ações baseado na movimentação do mouse */
/* nesse caso, quando o mouse passar pelo paragrafo dentro de <a>, dentro de <li> */
.menu li a:hover{
    font-size: 30px;
    color:crimson;
}

.center {
    text-align: center;
}

/* o flex quebra o display block e faz com que os objetos fiquem um do lado do outro e não um em cima do outro */
/* precisa chamar essa classe em cada div, até as divs que estão dentro de outras */
.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.wh-300 {
    width: 300px;
    height: 300px;
    /* overflow: hidden;
    object-fit: cover; */
}

.br-50 {
    border-radius: 50%;
}
 
/* Utilizando ID */
#Cor-Fonte {
    color:red;
}


/* Essa parte se refere ao CSS do INDEX */ 


/*  
    Escrever o arquivo CSS como cascata, seguindo a ordem que cada elemento
    aparece no arquivo HTML e utilizando ela aqui, então se o menu aparece primeiro,
    colocar o menu como primeira classe aqui no arquivo CSS
*/